  /* ========TOP HEADING====== */
 .head {
   color: rgb(117, 31, 31);
   font-family: Agbalumo, Arial, sans-serif;

 }

 .head h4 {
   font-family: poppins, Arial, sans-serif;
   color: black;
   font-weight: 300;
   font-size: 20px;
   padding-top: 20px;
 }

 body{
  overflow-x: hidden;
}
 /* ========ALL FORM TOP HEADINGS============ */
 .top-bg-box {
   background: #f2e7d8;
   padding: 40px;
   border-radius: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
 }

 /* =======FOR MAIN HEADING====== */
 .row {
   margin-top: 30px;
   color: rgb(117, 31, 31);
   font-family: Agbalumo, Arial, sans-serif;
   box-sizing: border-box;
 }

 /* form */
 form {
   margin: 30px auto;
   max-width: 900px;
 }

 form input {
   width: 100%;
   padding: 10px 12px;
   border-radius: 12px;
   border: 1px solid #ccc;
   font-family: poppins, sans-serif;
   font-size: 15px;
   outline: none;
   transition: 0.3s ease;
 }

 form input:focus {
   border-color: rgb(146, 36, 8);
   box-shadow: 0 0 6px rgba(146, 36, 8, 0.3);
 }

 .col-lg-12 input {
   height: 120px;
   text-align: start;

 }

 textarea {
   width: 100%;
   height: 150px;
   padding: 15px;
   vertical-align: top;
   border: 1px solid #ccc;
   border-radius: 12px;
   outline: none;
   transition: 0.3s ease;
   font-family: poppins, sans-serif;
 }

 form textarea:focus {
   border-color: rgb(146, 36, 8);
   box-shadow: 0 0 6px rgba(146, 36, 8, 0.3);
 }

 /* button */
 .btn {
   display: block;
   margin: 20px auto;
   padding: 12px 35px;
   border-radius: 10px;
   border: none;
   background-color: rgb(146, 36, 8);
   color: white;
   font-family: Poppins, Arial, sans-serif;
   font-size: 16px;
   font-weight: 500;
   transition: 0.3s ease;
   margin-top: 40px;
 }

 /* Button hover */
 form .btn:hover {
   background-color: rgb(120, 28, 6);
   color: white;
 }

 /* ===========CONTACT INFO============== */
 .contact-row{
   display: grid;
  grid-template-columns: 40px 150px auto;
  align-items: start;
  margin-bottom: 20px;
 }
#icons{
  font-size: 30px;
  color: #7a1e14;  
}
 .title {
    color: black;
   font-weight: 400;
   font-size: 15px;
   font-family: poppins, sans-serif;
display: block;
 }

 .text {
   color: black;
   font-weight: 400;
   font-size: 15px;
   font-family: poppins, sans-serif;
 display: block;
  padding-left: 40px;   
  white-space: nowrap; 
 }

 .contact {
   position: relative;
   padding-bottom: 30px;
 }

 /* line */
 .contact::after {
   content: "";
   width: 100%;
   height: 3px;
   background: #cabbad;
   position: absolute;
   bottom: 0;
   left: 0;
 }


 /* ========BUSINESS HOUR========== */

 h6 {
   font-family: poppins, sans-serif;
   color: black;
   font-size: 18px;
   font-weight: 300;
 }

 .time {
   font-family: poppins, sans-serif;
   color: black;
   font-size: 15px;
 }

 .business {
   position: relative;
   padding-bottom: 30px;
 }

 /* line */
 .business::after {
   content: "";
   width: 100%;
   height: 3px;
   background: #cabbad;
   position: absolute;
   bottom: 0;
   left: 0;
 }

 /* ===== Mobile Responsive ===== */
 @media (max-width: 768px) {
   .row.mx-5 {
     margin-left: 15px !important;
     margin-right: 15px !important;
   }

   form input {
     font-size: 14px;
   }

   h1 {
     font-size: 24px;
   }

   h6,
   .time {
     text-align: left-end;
   }
   .head h4{
    font-size: 15px;
    font-weight: 300;
   }
 }

 /* =========CONTACT FORM END HERE=========== */
 /* ========POPUP MESSAGE========== */
 .popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 9999;
   justify-content: center;
    align-items: center;
 }
.popup.show {
  display: flex;        
}
 .popup-box {
   background: white;
   width: 320px;
   padding: 25px;
   border-radius: 10px;
   text-align: center;
   margin: 15% auto;
   animation: pop 0.3s ease;
 }

 .popup-box h2 {
   color: rgb(117, 31, 31);
   margin-bottom: 10px;
 }

 .popup-box p {
   color: black;
 }

 .popup-box button {
   background-color: white;
   color: rgb(117, 31, 31);
   border: none;
   padding: 8px 18px;
   border-radius: 5px solid;
   cursor: pointer;
 }

 @keyframes pop {
   from {
     transform: scale(0.5);
   }

   to {
     transform: scale(1);
   }
 }