/* ================NAVBAR================= */
/* for logo*/
.limg {
    position: relative;
    left: -70px;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

/* for quick snack*/
.navbar h4 {
    position: relative;
    left: -60px;
    color: rgb(117, 31, 31);
    font-family: "Agbalumo", Arial, sans-serif;
}

/* for navbar*/
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    background: cornsilk;
    backdrop-filter: blur(6px);
    z-index: 100;
}

/* ===== Center Nav Links & Pill Hover ===== */

.nav-pill {
    gap: 8px;
}

.nav-pill .nav-link {
    position: relative;
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
}

/* Hover effect */
.nav-pill .nav-link:hover {
    background-color: rgb(117, 31, 31);
    color: #fff;
}

/* Active link */
.nav-pill .nav-link.active {
    background-color: rgb(117, 31, 31);
    color: #fff;
    font-weight: 600;
}


/* ===========DROPDOWN=========== */
/* for dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    border-radius: 12px;
    padding: 10px;
}

.dropdown-menu .dropdown-item {
    border-radius: 20px;
    padding: 8px 14px;
    transition: 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(117, 31, 31);
    color: #fff;
}

.dropdown-submenu>.dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-submenu.show>.dropdown-menu {
    display: block;
}

/* ===== SEARCH BAR ===== */
.open-search {
    cursor: pointer;
    font-size: 16px;
    color: rgb(117, 31, 31);
}

/* search bar */
.search-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 10px 16px;
    border-radius: 30px;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.search-icon {
    color: rgb(117, 31, 31);
    pointer-events: none;
    /* click disable */
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
}

/* gallery banner */
.main-container {
    text-align: center;
    padding: 60px 20px;

}

h1 {
    color: rgb(150, 34, 34);
    font-family: "roboto slab";
    margin-top: 5px;
    line-height: 50px;
    font-weight: 800;
}

.main-container p {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: "roboto slab";
    max-width: 750px;
    margin: auto;
    text-align: center;
}

/* ====== ROW =======*/

/* first row */
.first-row {
    margin-top: 50px;
}

/* second row */
.second-row {
    margin-top: -60px;
}

/* second row 2 */
.sec-row2 {
    margin-top: 20px;
}

/* for third row */
.third-row {
    margin-top: -150px;
}

.third-row h3 {
    padding-top: 15px;
    font-weight: 300;
    color: white;
    font-family: "roboto slab";
}

.third-row p {
    font-size: 16px;
    text-align: start;
}

/* for fourth row*/
.fourth-row {
    margin-top: -20px;
}

.fourth-chef {
    margin-top: -90px;
}

/* for fifth row*/
.fifth-row {
    margin-top: -100px;
}

#video-1 {
    margin-top: -250px;
    border-radius: 14px;
}

.fifth-video video {
    border-radius: 20px;

}

/* fifths rows second img */
.extra-row {
    margin-top: 40px;
}

/* sixth row */

.sixth-img {
    margin-top: 10px;
}

#video-2 {
    margin-top: -70px;
    border-radius: 14px;
}

.vid_parent2 {
    margin-top: 200px;
}

.vid_parent {
    margin-top: 230px;
}

.sixth-video video {
    border-radius: 20px;
}

.img-row {
    margin-top: 25px;
}
body {
    background-color: beige !important;
}
.third3-p {
    color: black;
}
#cake {
    color: black;
}

/* ================== MEDIA QUERY ================== */

/* ================= MOBILE VIEW ================= */
@media (max-width: 575px) {
    .feedback img {
        width: 100px;
        height: 100px;
    }

    .feedback p {
        font-size: 13px;
    }
}

/* ===== TABLET SCREENS  ===== */
@media (min-width: 770px) and (max-width: 1000px) {
    .gallery-h1 {
        margin-left: 130px;
    }

    #gallery-p {
        margin-left: 130px;

    }

    .first-3,
    .first-4 {
        margin-top: -90px;

    }

    .second-1 {
        margin-top: -80px;

    }

    .second-2 {
        margin-top: -175px;

    }

    .third-1,
    .third-2 {
        margin-top: -180px;

    }

    .third-3 {
        margin-top: -120px;
    }

    .fourth-chef {
        margin-top: -60px;
    }

    .fourth-2,
    .fourth-3 {
        margin-top: -90px;

    }

    .reviews {
        margin-top: 20px;
        width: 100%;
        height: 270px;
    }

    .extra-img {
        height: 370px;

        margin-top: -300px;
        width: 100%;
        margin-left: 395px;
    }

    .sixth-1 {
        margin-top: -90px;
    }

    .second-row,
    .third-row,
    .fourth-row,
    .fifth-row {
        margin-top: 30px;
    }

    .vid_parent {
        margin-top: -130px;
    }

    #video-1 {
        margin-top: 0;
    }

    .vid_parent2 {
        margin-top: -150px;
    }
}

/* ===== MOBILE SCREENS===== */
@media (min-width: 320px)and (max-width: 769px) {

    .limg {
        margin-left: -20px;
    }

    h1 {
        font-size: 28px;
        line-height: 36px;
    }

    p {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .third-row {
        display: none;
    }

    .extra-row {
        margin-top: -5px;
    }

    img,
    video {
        margin-bottom: 10px;
        height: auto !important;
    }

    .vid_parent2 {
        margin-top: 80px;
    }

    .second-row,
    .third-row,
    .fourth-row,
    .fifth-row {
        margin-top: 20px;
    }

    .fourth-chef {
        margin-top: 0;
    }

    .feedback h1 {
        font-size: 26px;
    }

    .row {
        text-align: center;
    }
}

/* ================== RESPONSIVE CODE END ================== */